[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KKEdit
GenericName=Advanced Text Editor
Comment=A GTK2/3 text editor inspired by ( but not based on ) BBEdit.
Terminal=false
Type=Application
Categories=Utility;GTK;TextEditor;
MimeType=text/plain
