.svn
artwork
KKEdit.LFSBuild
makepkg
NAGTIME
makenagtime
KKEdit/src/html
KKEdit/src/searchdata.xml
translations/
autom4te.cache
KKEdit/unstable-plugins/DebuggerPlugin/rawdata
*~
.deps
.dirstamp
config.log
config.status
stamp-h1
Makefile
Makefile.in
configure
config.h
TODO
*.o
*.so
aclocal.m4
config.h.in

KKEdit/app/KKEditProgressBar
KKEdit/app/kkedit
KKEdit/app/kkeditmsg
